@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&family=Fira+Code:wght@400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

code, pre {
  font-family: 'Fira Code', monospace;
  font-weight: 400;
}

a {
  text-decoration: none;
}

[data-theme='uganda'] body {
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.18) 0%,
      rgba(0,0,0,0.18) 16.66%,
      rgba(252,221,0,0.18) 16.66%,
      rgba(252,221,0,0.18) 33.33%,
      rgba(218,0,0,0.18) 33.33%,
      rgba(218,0,0,0.18) 50%,
      rgba(0,0,0,0.18) 50%,
      rgba(0,0,0,0.18) 66.66%,
      rgba(252,221,0,0.18) 66.66%,
      rgba(252,221,0,0.18) 83.33%,
      rgba(218,0,0,0.18) 83.33%,
      rgba(218,0,0,0.18) 100%
    ),
    var(--main-bg);
  background-blend-mode: lighten;
  background-attachment: fixed;
}
