@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

[data-theme='uganda'] body {
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.18) 0%,
      rgba(0,0,0,0.18) 16.66%,
      rgba(252,221,0,0.18) 16.66%,
      rgba(252,221,0,0.18) 33.33%,
      rgba(218,0,0,0.18) 33.33%,
      rgba(218,0,0,0.18) 50%,
      rgba(0,0,0,0.18) 50%,
      rgba(0,0,0,0.18) 66.66%,
      rgba(252,221,0,0.18) 66.66%,
      rgba(252,221,0,0.18) 83.33%,
      rgba(218,0,0,0.18) 83.33%,
      rgba(218,0,0,0.18) 100%
    ),
    var(--main-bg);
  background-blend-mode: lighten;
  background-attachment: fixed;
}
